bmsc_ext_source/Efika.Crm.Web/Web References/BMSCEvaluarScoreService/EvaluarScore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="/bmsc/crm" elementFormDefault="qualified" targetNamespace="/bmsc/crm" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="evaluarScore_request">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pNroSolicitud" type="xsd:integer" />
        <xsd:element name="pGUICliente" type="xsd:string" />
        <xsd:element name="pCodigoLoginUsuario" type="xsd:string" />
        <xsd:element name="pCodigoAgencia" type="xsd:string" />
        <xsd:element name="pCodigoSucursal" type="xsd:string" />
        <xsd:element name="pFechaEjecucion" type="xsd:date" />
        <xsd:element name="pUsuario" type="xsd:string" />
        <xsd:element name="pContrasena" type="xsd:string" />
        <xsd:element name="pDominio" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="evaluarScore_response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pMensaje" type="xsd:string" />
        <xsd:element name="pRespuesta" type="xsd:integer" />
        <xsd:element maxOccurs="unbounded" name="pResultado" type="Result" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Result">
    <xsd:sequence>
      <xsd:element name="Campo" type="xsd:string" />
      <xsd:element name="Valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>